<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Insider Test Suite" parallel="false">
    <test name="Home Page Tests">
        <classes>
            <class name="tests.QACareersPageTest"/>
            <class name="tests.HomePageTest"/>
        </classes>
    </test>
</suite>
